src/main/mule/business-logic.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:nextep-logging="http://www.mulesoft.org/schema/mule/nextep-logging" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/nextep-logging http://www.mulesoft.org/schema/mule/nextep-logging/current/mule-nextep-logging.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<flow name="get:\jokes\random:Router">
            
		<logger level="INFO" doc:name="Logger"  />
        <flow-ref name="joke-flow" />
        <logger level="INFO" doc:name="Logger" category="${logger.category}" message="TEST"/>
        	
	</flow>

    <flow name="joke-flow" >
 
        <http:request method="GET" 
            doc:name="Request" 
            config-ref="chuck-norris-request-configuration" 
            sendCorrelationId="ALWAYS" 
            path="/jokes/random"/>
        
        <ee:transform doc:name="Transform Message" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	joke: payload.value
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

  </flow>
 	
	
</mule>
