src/main/mule/chuck-norris-jokes.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:tls="http://www.mulesoft.org/schema/mule/tls" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
    http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
   
    
    <apikit:config name="Router" api="chuck-norris-jokes.raml" 
        raml="api/chuck-norris-jokes.raml"
        outboundHeadersMapName="outboundHeadersMapName" 
        httpStatusVarName="httpStatus"/>
        
    <flow name="chuck-norris-jokes-main">
        <http:listener doc:name="Listener" config-ref="https-listener-config" path="${http.router.path}/*">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="utils-create-correlation" name="utils-create-correlation"/>
        <apikit:router doc:name="APIkit Router" config-ref="Router"/>
    </flow>
    
</mule>
